:root {
  --main-color: #1877f2;
}

.App {
  text-align: center;
  font-family: 'Jost', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form>* {
  margin: .3rem;
  padding: .5rem;
  width: 20%;
}

.buttonify {
  background-color: var(--main-color);
  border: none;
  border-radius: .5rem;
  color: whitesmoke;
  padding: 1rem;
  text-decoration: none;
}

.welcome {
  color: var(--main-color);
}

.welcome>div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}