:root {
  --main-color: #1877f2;
}

.App {
  text-align: center;
  font-family: 'Jost', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form>* {
  margin: .3rem;
  padding: .5rem;
  width: 20%;
}

@media screen and (max-width: 765px) {
  .user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid slategray;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 40vh;
  }
}

@media screen and (max-width: 485px) {
  form>* {
    padding: 1rem;
    width: 60%;
  }

  .welcome>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 2rem;
  }
}

.avatar {
  height: 20vh;
}

.buttonify {
  background-color: var(--main-color);
  border: none;
  border-radius: .5rem;
  color: whitesmoke;
  padding: 1rem;
  text-decoration: none;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid slategray;
  border-radius: .5rem;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  height: 40vh;
}

.user-card>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
}

.welcome {
  color: var(--main-color);
}

.welcome>div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}